/labs_NetBeans/LendoDados/nbproject/private/
/labs_NetBeans/LendoDados/build/
/labs_NetBeans/AtividadesCursoJava/nbproject/private/
/labs_NetBeans/AtividadesCursoJava/build/
/labs_NetBeans/AtividadesCursoJava/dist/
/Labs/LendoDados/build/
/Labs/LendoDados/nbproject/private/
/Labs/NetBeans/LendoDados/build/
/Labs/NetBeans/LendoDados/nbproject/private/
/Atividades_NetBeans/Atividades2CursoJava/nbproject/private/
/Atividades_NetBeans/Atividades2CursoJava/build/
/Atividades_NetBeans/Atividades2CursoJava/dist/